@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
